* {
  margin            : 0;
  padding           : 0;
}

body {
  width             : 231px;
  height            : 500px;
  margin            : 2px 0;
  font-family       : verdana;
  font-weight       : bold;
  font-size         : 12pt;
  overflow          : hidden;
}

#bg {
  background-color  : #000;
  color             : #FFF;
}

img {
  border-style      : none;
}

a {
  border-width      : 1px 2px;
  border-style      : solid;
  border-color      : #333;
  height            : 136px;
}

a:hover {
  border-color      : #999;
}

#gamelist {
  list-style        : none;
}

.noimage {
  color             : #fff;
  text-align        : center;
  text-decoration   : none;
  background-color  : #000;
  line-height       : 100px;
}

.game {
  padding           : 0;
  float             : left;
}