* {
  margin            : 0;
  padding           : 0;
}

body {
  width             : 100px;
  height            : 200px;
  margin            : 2px 0;
}

p {
  margin            : 10px 0px;
}